body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --roboto-16px-regular: Roboto;
  --font-philosopher: Philosopher;
  --font-helvetica-neue: "Helvetica Neue";
  --open-sans-16px-16px-bold: "Open Sans";

  /* font sizes */
  --roboto-16px-regular-size: 16px;
  --roboto-24px-bold-size: 24px;
  --font-size-lgi: 19px;
  --roboto-14px-regular-size: 14px;
  --font-size-16xl: 35px;
  --font-size-9xl: 28px;
  --font-size-2xl: 21px;
  --font-size-sm-5: 13.5px;
  --roboto-18px-bold-size: 18px;
  --font-size-mini-2: 14.2px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --roboto-20px-bold-size: 20px;
  --font-size-25xl: 44px;
  --font-size-7xl: 26px;
  --font-size-11xl: 30px;
  --roboto-12px-regular-size: 12px;

  /* Colors */
  --white: #fff;
  --gray-gray-400: #858585;
  --color-gray-100: rgba(255, 255, 255, 0.3);
  --color-gray-200: rgba(0, 0, 0, 0.2);
  /* --color-gray-300: rgba(255, 255, 255, 0.7); */
  --color-gray-400: rgba(0, 37, 73, 0.8);
  --gray-gray-50: #f0f0f0;
  --color-paleturquoise: #99ffff;
  --gray-gray-500: #666;
  --gray-gray-600: #4d4d4d;
  --blue-primary-500: #0054a6;
  --blue-primary-600: #003f7d;
  --color-darkslateblue-100: rgba(0, 47, 93, 0.8);
  --blue-primary-50: #e6eef7;
  --color-cornflowerblue-100: #267acc;
  --color-darkgray: #a3a3a3;
  --color-limegreen: #03a600;
  --gray-gray-700: #333;
  --blue-primary-300: #6698ca;

  /* Gaps */
  --gap-61xl: 80px;
  --gap-xl: 20px;
  --gap-21xl: 40px;
  --gap-sm: 14px;
  --gap-5xs: 8px;
  --gap-82xl: 101px;
  --gap-31xl: 50px;
  --gap-8xs: 5px;
  --gap-11xs: 2px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-3xs: 10px;
  --gap-2xl: 21px;
  --gap-23xl: 42px;
  --gap-17xl: 36px;
  --gap-lg: 18px;
  --gap-5xl: 24px;
  --gap-115xl: 134px;
  --gap-48xl: 67px;
  --gap-9xs: 4px;
  --gap-xs: 12px;
  --gap-9xl: 28px;
  --gap-2xs-5: 10.5px;
  --gap-lgi: 19px;
  --gap-2xs: 11px;
  --gap-7xs: 6px;
  --gap-6xs: 7px;

  /* Paddings */
  --padding-7xl: 26px;
  --padding-180xl: 199px;
  --padding-19xl: 38px;
  --padding-207xl: 226px;
  --padding-37xl: 56px;
  --padding-30xl: 49px;
  --padding-94xl: 113px;
  --padding-80xl: 99px;
  --padding-5xs-5: 7.5px;
  --padding-11xs: 2px;
  --padding-mid: 17px;
  --padding-smi: 13px;
  --padding-98xl: 117px;
  --padding-39xl: 58px;
  --padding-10xs: 3px;
  --padding-xl: 20px;
  --padding-35xl: 54px;
  --padding-12xl: 31px;
  --padding-8xl: 27px;
  --padding-7xs: 6px;
  --padding-4xs: 9px;
  --padding-2xs: 11px;
  --padding-6xs: 7px;
  --padding-2xs-5: 10.5px;
  --padding-44xl: 63px;
  --padding-3xs-5: 9.5px;
  --padding-xs: 12px;
  --padding-13xl: 32px;
  --padding-mini: 15px;
  --padding-base: 16px;
  --padding-5xl: 24px;
  --padding-17xl: 36px;
  --padding-5xs: 8px;
  --padding-11xs-5: 1.5px;
  --padding-135xl: 154px;
  --padding-46xl: 65px;
  --padding-81xl: 100px;
  --padding-31xl: 50px;
  --padding-9xl: 28px;
  --padding-12xs-9: 0.9px;
  --padding-8xs: 5px;
  --padding-lg: 18px;
  --padding-3xl: 22px;
  --padding-9xs: 4px;
  --padding-21xl: 40px;
  --padding-143xl: 162px;
  --padding-86xl: 105px;
  --padding-49xl: 68px;
  --padding-25xl: 44px;
  --padding-xs-5: 11.5px;
  --padding-3xs: 10px;
  --padding-6xs-5: 6.5px;
  --padding-7xs-5: 5.5px;

  /* Border radiuses */
  --br-base: 16px;
  --br-11xs: 2px;
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-7xs: 6px;
  --br-xs: 12px;
  --br-27xl: 46px;
  --br-81xl: 100px;
  --br-7xl-7: 26.7px;

  /* Effects */
  --shadow-fillter: 0px 2px 20px rgba(0, 0, 0, 0.1);
  --shadow-bai-moi: 0px 2px 24px rgba(0, 0, 0, 0.15);
  :root {
    --white: rgba(255, 255, 255, 1);
    --gray-gray-50: rgba(240, 240, 240, 1);
    --gray-gray-100: rgba(224, 224, 224, 1);
    --gray-gray-200: rgba(194, 194, 194, 1);
    --gray-gray-300: rgba(163, 163, 163, 1);
    --gray-gray-400: rgba(133, 133, 133, 1);
    --gray-gray-500: rgba(102, 102, 102, 1);
    --gray-gray-600: rgba(77, 77, 77, 1);
    --gray-gray-700: rgba(51, 51, 51, 1);
    --gray-gray-800: rgba(26, 26, 26, 1);
    --gray-gray-900: rgba(10, 10, 10, 1);
    --blue-primary-50: rgba(230, 238, 247, 1);
    --blue-primary-100: rgba(204, 221, 237, 1);
    --blue-primary-200: rgba(153, 187, 219, 1);
    --blue-primary-300: rgba(102, 152, 202, 1);
    --blue-primary-400: rgba(51, 118, 184, 1);
    --blue-primary-500: rgba(0, 84, 166, 1);
    --blue-primary-600: rgba(0, 63, 125, 1);
    --blue-primary-700: rgba(0, 42, 83, 1);
    --blue-primary-800: rgba(0, 21, 42, 1);
    --blue-primary-900: rgba(0, 8, 17, 1);
    --cyan-cyan-50: rgba(245, 255, 255, 1);
    --cyan-cyan-100: rgba(235, 255, 255, 1);
    --cyan-cyan-200: rgba(214, 255, 255, 1);
    --cyan-cyan-300: rgba(194, 255, 255, 1);
    --cyan-cyan-400: rgba(173, 255, 255, 1);
    --cyan-cyan-500: rgba(153, 255, 255, 1);
    --cyan-cyan-600: rgba(115, 191, 191, 1);
    --cyan-cyan-700: rgba(77, 128, 128, 1);
    --cyan-cyan-800: rgba(38, 64, 64, 1);
    --cyan-cyan-900: rgba(15, 26, 26, 1);
    --green-green-50: rgba(230, 247, 230, 1);
    --green-green-100: rgba(205, 237, 204, 1);
    --green-green-200: rgba(154, 219, 153, 1);
    --green-green-300: rgba(104, 202, 102, 1);
    --green-green-400: rgba(53, 184, 51, 1);
    --green-green-500: rgba(3, 166, 0, 1);
    --green-green-600: rgba(2, 125, 0, 1);
    --green-green-700: rgba(2, 83, 0, 1);
    --green-green-800: rgba(1, 42, 0, 1);
    --green-green-900: rgba(0, 17, 0, 1);
    --roboto-24px-regular-font-family: "Roboto", Helvetica;
    --roboto-24px-regular-font-weight: 400;
    --roboto-24px-regular-font-size: 24px;
    --roboto-24px-regular-letter-spacing: 0px;
    --roboto-24px-regular-line-height: 32px;
    --roboto-24px-regular-font-style: normal;
    --roboto-24px-medium-font-family: "Roboto", Helvetica;
    --roboto-24px-medium-font-weight: 600;
    --roboto-24px-medium-font-size: 24px;
    --roboto-24px-medium-letter-spacing: 0px;
    --roboto-24px-medium-line-height: normal;
    --roboto-24px-medium-font-style: normal;
    --roboto-24px-bold-font-family: "Roboto", Helvetica;
    --roboto-24px-bold-font-weight: 700;
    --roboto-24px-bold-font-size: 24px;
    --roboto-24px-bold-letter-spacing: 0px;
    --roboto-24px-bold-line-height: normal;
    --roboto-24px-bold-font-style: normal;
    --roboto-20px-regular-font-family: "Roboto", Helvetica;
    --roboto-20px-regular-font-weight: 400;
    --roboto-20px-regular-font-size: 20px;
    --roboto-20px-regular-letter-spacing: 0px;
    --roboto-20px-regular-line-height: normal;
    --roboto-20px-regular-font-style: normal;
    --roboto-20px-medium-font-family: "Roboto", Helvetica;
    --roboto-20px-medium-font-weight: 600;
    --roboto-20px-medium-font-size: 20px;
    --roboto-20px-medium-letter-spacing: 0px;
    --roboto-20px-medium-line-height: normal;
    --roboto-20px-medium-font-style: normal;
    --roboto-20px-bold-font-family: "Roboto", Helvetica;
    --roboto-20px-bold-font-weight: 700;
    --roboto-20px-bold-font-size: 20px;
    --roboto-20px-bold-letter-spacing: 0px;
    --roboto-20px-bold-line-height: normal;
    --roboto-20px-bold-font-style: normal;
    --roboto-18px-regular-font-family: "Roboto", Helvetica;
    --roboto-18px-regular-font-weight: 400;
    --roboto-18px-regular-font-size: 18px;
    --roboto-18px-regular-letter-spacing: 0px;
    --roboto-18px-regular-line-height: 150%;
    --roboto-18px-regular-font-style: normal;
    --roboto-18px-medium-font-family: "Roboto", Helvetica;
    --roboto-18px-medium-font-weight: 600;
    --roboto-18px-medium-font-size: 18px;
    --roboto-18px-medium-letter-spacing: 0px;
    --roboto-18px-medium-line-height: normal;
    --roboto-18px-medium-font-style: normal;
    --roboto-18px-bold-font-family: "Roboto", Helvetica;
    --roboto-18px-bold-font-weight: 700;
    --roboto-18px-bold-font-size: 18px;
    --roboto-18px-bold-letter-spacing: 0px;
    --roboto-18px-bold-line-height: normal;
    --roboto-18px-bold-font-style: normal;
    --roboto-16px-regular-font-family: "Roboto", Helvetica;
    --roboto-16px-regular-font-weight: 400;
    --roboto-16px-regular-font-size: 16px;
    --roboto-16px-regular-letter-spacing: 0px;
    --roboto-16px-regular-line-height: 21px;
    --roboto-16px-regular-font-style: normal;
    --roboto-16px-bold-font-family: "Roboto", Helvetica;
    --roboto-16px-bold-font-weight: 700;
    --roboto-16px-bold-font-size: 16px;
    --roboto-16px-bold-letter-spacing: 0px;
    --roboto-16px-bold-line-height: normal;
    --roboto-16px-bold-font-style: normal;
    --roboto-16px-medium-font-family: "Roboto", Helvetica;
    --roboto-16px-medium-font-weight: 600;
    --roboto-16px-medium-font-size: 16px;
    --roboto-16px-medium-letter-spacing: 0px;
    --roboto-16px-medium-line-height: normal;
    --roboto-16px-medium-font-style: normal;
    --roboto-14px-regular-font-family: "Roboto", Helvetica;
    --roboto-14px-regular-font-weight: 400;
    --roboto-14px-regular-font-size: 14px;
    --roboto-14px-regular-letter-spacing: 0px;
    --roboto-14px-regular-line-height: normal;
    --roboto-14px-regular-font-style: normal;
    --roboto-14px-medium-font-family: "Roboto", Helvetica;
    --roboto-14px-medium-font-weight: 600;
    --roboto-14px-medium-font-size: 14px;
    --roboto-14px-medium-letter-spacing: 0px;
    --roboto-14px-medium-line-height: normal;
    --roboto-14px-medium-font-style: normal;
    --roboto-14px-bold-font-family: "Roboto", Helvetica;
    --roboto-14px-bold-font-weight: 700;
    --roboto-14px-bold-font-size: 14px;
    --roboto-14px-bold-letter-spacing: 0px;
    --roboto-14px-bold-line-height: normal;
    --roboto-14px-bold-font-style: normal;
    --roboto-12px-regular-font-family: "Roboto", Helvetica;
    --roboto-12px-regular-font-weight: 400;
    --roboto-12px-regular-font-size: 12px;
    --roboto-12px-regular-letter-spacing: 0px;
    --roboto-12px-regular-line-height: normal;
    --roboto-12px-regular-font-style: normal;
    --roboto-12px-medium-font-family: "Roboto", Helvetica;
    --roboto-12px-medium-font-weight: 600;
    --roboto-12px-medium-font-size: 12px;
    --roboto-12px-medium-letter-spacing: 0px;
    --roboto-12px-medium-line-height: normal;
    --roboto-12px-medium-font-style: normal;
    --roboto-12px-bold-font-family: "Roboto", Helvetica;
    --roboto-12px-bold-font-weight: 700;
    --roboto-12px-bold-font-size: 12px;
    --roboto-12px-bold-letter-spacing: 0px;
    --roboto-12px-bold-line-height: normal;
    --roboto-12px-bold-font-style: normal;
    --shadow-bai-moi: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    --shadow-fillter: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
}
