.bg,
.frame-child {
  position: absolute;
  top: 0;
}
.bg {
  left: calc(50% - 960px);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.vid-parent {
  position: fixed;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}
.frame-child {
  left: -2px;
  border-radius: var(--br-5xs);
  width: 382px;
  height: 98px;
  object-fit: contain;
}
.bi-vit1 {
  margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    z-index: 2;
}

.vector-parent {
  padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    color: #0056b3;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #fff;
    border-radius: 15px;
  position: absolute;
  top: 168px;
  left: 860px;
  /* width: 378px; */
  /* height: 98px; */
}
.logo-ngang-child {
  position: absolute;
  top: 2px;
  left: -26px;
  width: 140px;
  height: 89px;
}
.cng-ty-c,
.phuthotourist {
  position: absolute;
  top: 17px;
  left: 119px;
}
.phuthotourist {
  top: 37px;
  left: 117px;
  font-size: var(--font-size-16xl);
  letter-spacing: 0.04em;
  color: var(--color-paleturquoise);
}
.logo-ngang {
  width: 464px;
  height: 93px;
}
.copyright,
.logo-ngang {
  position: relative;
}
.vuesaxlinearcopyright-icon {
  width: 16px;
  position: relative;
  height: 16px;
}
.facebookvuvietduccom-icon,
.pinterestvuvietduccom-icon,
.twittervuvietduccom-icon {
  width: 32px;
  position: relative;
  border-radius: var(--br-base);
  height: 32px;
}
.facebookvuvietduccom-icon {
  object-fit: cover;
}
.pinterestvuvietduccom-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.twittervuvietduccom-parent {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.copyright-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
  text-align: center;
  font-size: var(--roboto-14px-bold-size);
  font-family: var(--roboto-24px-bold);
}
.logo-ngang-parent {
  position: absolute;
  top: 28px;
  left: 226px;
  width: 438px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--font-size-sm-5);
  font-family: var(--font-helvetica-neue);
}
.icons {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.phng-15-qun {
  margin: 0;
}
.ng-s-2-container {
  position: relative;
  line-height: 21px;
}
.icons-group,
.icons-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.icons-group {
  align-items: center;
}
.icons2 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.facebookvuvietduccom-icon1 {
  width: 20px;
  position: relative;
  height: 20px;
  object-fit: cover;
}
.facebookvuvietduccom-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-group,
.lin-h-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-group {
  height: 161px;
  justify-content: space-between;
  font-size: var(--roboto-16px-medium-size);
  font-family: var(--roboto-24px-bold);
}
.lin-h-parent {
  position: absolute;
  top: 30px;
  left: 802px;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.main-child {
  width: 6px;
  position: relative;
  border-radius: 50%;
  background-color: var(--white);
  height: 6px;
}
.text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cc-n-v-cng-h-thng-phuth-parent,
.link-desktop,
.link-desktop4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-desktop4 {
  color: var(--color-whitesmoke);
}
.cc-n-v-cng-h-thng-phuth-parent {
  position: absolute;
  top: 30px;
  left: 1185px;
  width: 536px;
  gap: var(--gap-xl);
}
.footer,
.footer-child {
  position: absolute;
  border-top: 1px solid var(--white);
  box-sizing: border-box;
}
.footer-child {
  top: calc(50% + 52.5px);
  left: -2.5px;
  width: 1923px;
  height: 1px;
  display: none;
}
.footer {
  bottom: 0;
  left: 0;
  backdrop-filter: blur(15px);
  background-color: var(--color-gray-100);
  width: 1920px;
  height: 276px;
  overflow: hidden;
}
.img-icon {
  width: 100%;
  right: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.img,
.img-child,
.img-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 146px;
}
.img-child {
  background-color: var(--color-gray-200);
  width: 265px;
  display: none;
}
.img {
  width: 100%;
  right: 0;
  overflow: hidden;
}
.frame-item {
  width: 6px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-limegreen);
  height: 6px;
}
.admin-parent,
.thng-bo-u {
  display: flex;
  align-items: center;
}
.admin-parent {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.thng-bo-u {
  width: 241px;
  position: relative;
  font-size: var(--roboto-16px-medium-size);
  color: var(--blue-primary-500);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 38px;
  flex-shrink: 0;
}
.div1,
.div2,
.n-lt-xem-wrapper {
  display: flex;
  flex-direction: row;
}
.div2 {
  border-radius: var(--br-27xl);
  background-color: var(--blue-primary-50);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.div1,
.n-lt-xem-wrapper {
  justify-content: flex-start;
}
.div1 {
  align-items: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--roboto-12px-regular-size);
  color: var(--blue-primary-500);
}
.n-lt-xem-wrapper {
  align-items: center;
}
.day-child {
  width: 3px;
  position: relative;
  border-radius: 50%;
  background-color: var(--gray-gray-400);
  height: 3px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-parent3 {
  position: absolute;
  top: 158px;
  left: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.img-parent {
  width: 265px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xs);
  background-color: var(--white);
  height: 292px;
  overflow: hidden;
  flex-shrink: 0;
}
.instance-parent {
  gap: 24px;
    width: 1134px;
    display: flex;
    flex-wrap: wrap;
    /* margin: 20px 0; */
    flex-direction: row;
    align-items: flex-start;
}
.thng-bo-u-container1 {
  width: 100%;
}
.frame-parent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.icons3,
.page {
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.icons3 {
  position: relative;
}
.page {
  border-radius: var(--br-9xs);
  background-color: var(--blue-primary-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.div61 {
  position: relative;
  font-weight: 500;
}
.page1 {
  width: 32px;
  border-radius: var(--br-11xs);
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons-parent1 {
  width: 283px;
  flex-direction: row;
  gap: var(--gap-xs);
}
.frame-parent1,
.frame-wrapper,
.icons-parent1,
.icons-parent2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper {
  backdrop-filter: blur(15px);
  border-radius: 99px;
  background-color: var(--color-gray-400);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-9xs);
  text-align: center;
  font-size: var(--roboto-16px-medium-size);
  color: var(--gray-gray-500);
}
.frame-parent1,
.icons-parent2 {
  position: absolute;
}
.frame-parent1 {
  top: 104px;
  left: 386px;
  flex-direction: column;
  gap: 32px;
}
.icons-parent2 {
  top: 0;
  left: 0;
  flex-direction: row;
  gap: var(--gap-7xs);
}
.frame-parent15,
.icons6 {
  position: absolute;
  height: 24px;
}
.icons6 {
  top: 0;
  left: 247px;
  width: 24px;
  overflow: hidden;
  display: none;
}
.frame-parent15 {
  top: 16px;
  left: calc(50% - 135.5px);
  width: 271px;
}
.filters-packs-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--white);
  box-sizing: border-box;
  width: 319px;
  height: 56px;
  display: none;
}
.ch-bi {
  position: absolute;
  top: 28px;
  left: calc(50% - 95px);
  text-transform: uppercase;
  font-family: var(--font-philosopher);
  color: var(--blue-primary-500);
  text-align: center;
}
.ch,
.ch1 {
  width: 322px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.ch {
  background-color: var(--blue-primary-500);
  color: var(--white);
}
.ch1 {
  background-color: var(--white);
}
.m-thc {
  position: relative;
  font-weight: 600;
}
.icons-parent3 {
  width: 322px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.ch-parent {
  position: absolute;
  top: 75px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--roboto-20px-medium-size);
  color: var(--blue-primary-300);
  font-family: var(--roboto-24px-bold);
}
.filters-packs-child {
  position: absolute;
  top: 772.6px;
  left: 28.6px;
  width: 440.7px;
  height: 280.8px;
  opacity: 0.15;
}
.filters-packs,
.icons13 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.filters-packs {
  box-shadow: var(--shadow-fillter);
  backdrop-filter: blur(15px);
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 362px;
  height: 1028px;
  font-size: var(--roboto-24px-bold-size);
  color: var(--white);
  font-family: var(--font-helvetica-neue);
}
.icons13 {
  width: 24px;
  height: 24px;
}
.tm-kim {
  position: absolute;
  top: 1.5px;
  left: 34px;
  line-height: 21px;
}
.div65 {
  width: 113px;
  position: relative;
  height: 24px;
}
.icons-search,
.search1 {
  overflow: hidden;
  flex-shrink: 0;
}
.icons-search {
  width: 24px;
  position: relative;
  height: 24px;
  opacity: 0;
}
.search1 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
}
.content1 {
  position: absolute;
  top: 0;
  left: 0;
}
.content {
  width: 180px;
  position: relative;
  height: 16px;
}
.lastest-search {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs);
}
.drop,
.items {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.items {
  align-self: stretch;
  display: flex;
  gap: var(--gap-5xs);
  color: var(--gray-gray-500);
}
.drop {
  width: 314px;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  display: none;
  padding: var(--padding-xs) var(--padding-6xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--roboto-14px-bold-size);
  color: var(--gray-gray-600);
}
.search,
.sort {
  position: absolute;
  display: flex;
  gap: var(--gap-5xs);
}
.search {
  top: 20px;
  left: 20px;
  border-radius: var(--br-7xs);
  width: 314px;
  height: 40px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.sort {
  top: calc(50% - 12px);
  left: 1004px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--roboto-18px-regular-size);
  color: var(--gray-gray-500);
}
.thi-gian {
  width: 67px;
  position: relative;
  font-weight: 600;
  display: none;
}
.date-picker1 {
  align-self: stretch;
  width: 150px;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
}
.vector-icon {
  width: 6px;
  position: relative;
  height: 8px;
}
.date-picker,
.thi-gian-parent {
  display: flex;
  gap: var(--gap-5xs);
}
.date-picker {
  width: 322px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  color: var(--gray-gray-400);
}
.thi-gian-parent {
  position: absolute;
  top: 20px;
  left: 665px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--blue-primary-500);
}
.filters-packs1 {
  position: absolute;
  top: 0;
  left: 386px;
  box-shadow: var(--shadow-fillter);
  backdrop-filter: blur(15px);
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 1134px;
  height: 80px;
  text-align: center;
  font-size: var(--roboto-16px-medium-size);
  color: var(--gray-gray-300);
}
.group-div {
  position: absolute;
  top: 628px;
  left: 200px;
  width: 1520px;
  height: 1108px;
  font-size: var(--roboto-14px-bold-size);
  color: var(--gray-gray-400);
  font-family: var(--roboto-24px-bold);
}
.text41 {
  position: absolute;
  top: 386px;
  left: 0;
  background-color: var(--white);
  width: 1134px;
  height: 218px;
  overflow: hidden;
}
.icon {
  left: 1134px;
  width: 1134px;
  object-fit: cover;
}
.icon,
.icon1,
.icon2 {
  position: absolute;
  top: 0;
  height: 386px;
}
.icon1 {
  left: 0;
  width: 1134px;
  object-fit: cover;
}
.icon2 {
  left: 2268px;
}
.icon2,
.icon3,
.icon4 {
  width: 1134px;
  object-fit: cover;
}
.icon3 {
  position: absolute;
  top: 0;
  left: 3402px;
  height: 386px;
}
.icon4 {
  left: 4536px;
}
.icon4,
.icon5,
.img12 {
  position: absolute;
  top: 0;
  height: 386px;
}
.icon5 {
  left: 5670px;
  width: 1134px;
  object-fit: cover;
}
.img12 {
  left: -1134px;
  width: 6804px;
}
.div68 {
  width: 16px;
  position: relative;
  backdrop-filter: blur(30px);
  border-radius: 50%;
  background-color: var(--color-gray-300);
  border: 1px solid var(--blue-primary-500);
  box-sizing: border-box;
  height: 16px;
}
.btn {
  position: absolute;
  top: 560px;
  right: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.prev-next-icon {
  width: 28px;
  position: relative;
  border-radius: var(--br-xs);
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.prev-next-icon-parent {
  position: absolute;
  top: 405px;
  left: 1050px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.thng-bo-mi,
.thng-bo-mi1 {
  align-self: stretch;
  position: relative;
}
.thng-bo-mi1 {
  font-size: var(--roboto-18px-regular-size);
  line-height: 150%;
  font-family: var(--roboto-24px-bold);
  color: var(--gray-gray-600);
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.thng-bo-mi-cho-gi-cnh-tr-parent {
  position: absolute;
  top: 410px;
  left: 20px;
  width: 845px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.sliders {
  position: absolute;
  top: 0;
  left: 200px;
  box-shadow: var(--shadow-bai-moi);
  backdrop-filter: blur(15px);
  border-radius: var(--br-xs);
  width: 1134px;
  height: 604px;
  overflow: hidden;
  font-size: var(--font-size-19xl);
  color: var(--blue-primary-500);
}
.frame-wrapper1 {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--white);
  box-sizing: border-box;
  width: 319px;
  height: 56px;
  display: none;
  font-family: var(--font-helvetica-neue);
}
.bi-mi-nht {
  position: absolute;
  top: 24px;
  left: 24px;
  color: var(--blue-primary-500);
}
.img-icon12 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs) 0 0 var(--br-9xs);
  width: 104px;
  height: 102px;
  overflow: hidden;
  object-fit: cover;
}
.title {
  width: 186px;
  position: relative;
  display: flex;
  align-items: center;
}
.content10,
.frame-parent18 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent18 {
  flex-direction: row;
  align-items: center;
  font-size: var(--roboto-12px-regular-size);
  color: var(--gray-gray-400);
}
.content10 {
  position: absolute;
  top: calc(50% - 27px);
  left: 116px;
  flex-direction: column;
  align-items: flex-start;
}
.mini-tag {
  width: 314px;
  position: relative;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-9xs);
  background-color: var(--white);
  height: 102px;
  overflow: hidden;
  flex-shrink: 0;
}
.mini-tag-parent {
  position: absolute;
  top: 68px;
  left: 24px;
  height: 535px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  cursor: pointer;
  font-size: var(--roboto-14px-bold-size);
  color: var(--gray-gray-500);
}
.frame-child19,
.frame-parent16 {
  position: absolute;
  top: 68px;
  left: 348px;
  border-radius: var(--br-9xs);
  background-color: var(--blue-primary-300);
  width: 4px;
  height: 94px;
}
.frame-parent16 {
  top: 1px;
  left: 1358px;
  box-shadow: var(--shadow-bai-moi);
  backdrop-filter: blur(15px);
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 362px;
  height: 603px;
  overflow: hidden;
  font-family: var(--roboto-24px-bold);
}
.footer-parent,
.frame-parent {
  position: absolute;
  left: 0;
  width: 1920px;
}
.footer-parent {
  top: 314px;
  height: 2092px;
  text-align: left;
  font-size: var(--roboto-24px-bold-size);
  color: var(--white);
}
.frame-parent {
  top: 0;
  height: 1080px;
  /* overflow-y: auto; */
}
.material-symbolsmenu-rounded-icon {
  position: absolute;
  top: calc(50% - 5px);
  right: 200px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  display: none;
}
.ti-liu {
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  min-width: 113px;
  color: aliceblue;
}
.component-13,
.nav-bar-item {
  position: absolute;
  top: 42px;
  left: 531px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.nav-bar-item {
  left: 732px;
  border-bottom: 1px solid var(--color-paleturquoise);
  height: 37px;
  cursor: pointer;
  color: var(--color-paleturquoise);
}
.logo-ngang-item {
  width: 113px;
  position: relative;
  height: 72px;
}
.logo-ngang1,
.nav-bar-item1 {
  display: flex;
  padding: var(--padding-9xs);
}
.logo-ngang1 {
  position: absolute;
  top: 20px;
  left: calc(50% - 61px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.nav-bar-item1 {
  top: 42px;
  left: 1100px;
  height: 36px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-bar-item1,
.nav-bar-item2,
.navigation {
  position: absolute;
  box-sizing: border-box;
}
.nav-bar-item2 {
  top: 42px;
  left: 1266px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}
.navigation {
  top: 0;
  left: calc(50% - 960px);
  backdrop-filter: blur(15px);
  background-color: var(--color-darkslateblue-100);
  /* border-bottom: 1px solid var(--white); */
  width: 1920px;
  height: 120px;
  font-size: var(--roboto-20px-medium-size);
  color: var(--white);
}
.bi-vit {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 2406px;
  text-align: center;
  font-size: 40px;
  color: var(--blue-primary-500);
  font-family: var(--font-philosopher);
}
